.card_title {
  font-weight: bold;
  font-size: 1.5rem;
}
.card_text {
  list-style-type: square !important;
  color: black;
}
.card_image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
