.slider_image {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider_heading {
  font-family: 'Gill Sans', sans-serif;
  color: #e49312;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 18rem;
  z-index: 1;
  margin-top: -150px;
  text-transform: capitalize;
}
.slider_heading_div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 24rem;
  z-index: 1;
  margin-top: -100px;
}
.slider_heading_div > h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
}
